<!Doctype html>
<html lang="en">
    <head>
    <title>Python Image Classification | Flask</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Python Image Classification">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top nav">
            <a class="navbar-brand" href="app.html" aria-label="Go to home section">Python Image Classification</a>
        </nav>
    </body>
    <form action="/" method="POST" enctype="multipart/form-data" class="form-style">
        <div class="form-group">
            <label for="file image">Enter your Image</label>
            <input type="file" class="form-control" name="fileImage" placeholder="enter image"><br/>
            <input type="submit" value="Predict" class="btn btn-success">
        </div>

        {% if prediction %}
        <small>The image you uploaded is a {{prediction}}</small>
        {% endif %}
    </form>
</html>

<style>
    .form-style {
        padding-top: 25rem;
        width: 50rem;
        margin-left: 50rem;
    }
    input[type=file] {
        color:red;
        padding-bottom: 3rem;
    }
    

</style>
   

